phpmyadmin/
bitrix/*
!bitrix/templates/
!bitrix/php_interface/init.php
!bitrix/modules/infracom.analit/
!bitrix/modules/tatonimus.replica/
group/u_contest/orders
upload
.svn
bitrix/php_interface/dbconn.php
