
/*
 * Примеси
 */
a:focus,
input:focus {
  outline: 0;
  text-decoration: none;
}
a {
  -webkit-transition-property: color background-color border-radius box-shadow border-radius;
  -moz-transition-property: color background-color border-radius box-shadow border-radius;
  -o-transition-property: color background-color border-radius box-shadow border-radius;
  -ms-transition-property: color background-color border-radius box-shadow border-radius;
  transition-property: color background-color border-radius box-shadow border-radius;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a:hover {
  text-decoration: none;
}
.max-width {
  max-width: 100%;
}
.no-position {
  position: static;
}
.full-width {
  float: left;
  width: 100%;
}
.inline-block {
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
.lowecase {
  text-transform: lowecase;
}
.left {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
.bg-center-center {
  background-position: center center !important;
}
.bg-center-left {
  background-position: center left !important;
}
.bg-center-right {
  background-position: center right !important;
}
.bg-top-center {
  background-position: top center !important;
}
.bg-top-left {
  background-position: top left !important;
}
.bg-top-right {
  background-position: top right !important;
}
.bg-bottom-center {
  background-position: bottom center !important;
}
.bg-bottom-left {
  background-position: bottom left !important;
}
.bg-bottom-right {
  background-position: bottom right !important;
}
.no-margin {
  margin: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-xs {
    margin: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-sm {
    margin: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-md {
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-lg {
    margin: 0 !important;
  }
}
.no-margin-top {
  margin-top: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-top-xs {
    margin-top: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-top-sm {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-top-md {
    margin-top: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-top-lg {
    margin-top: 0 !important;
  }
}
.xxs-margin-top {
  margin-top: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-top {
    margin-top: 5px !important;
  }
}
.xs-margin-top {
  margin-top: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-top {
    margin-top: 10px !important;
  }
}
.s-margin-top {
  margin-top: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-top {
    margin-top: 15px !important;
  }
}
.m-margin-top {
  margin-top: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-top {
    margin-top: 20px !important;
  }
}
.l-margin-top {
  margin-top: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-top {
    margin-top: 25px !important;
  }
}
.xl-margin-top {
  margin-top: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-top {
    margin-top: 30px !important;
  }
}
.xxl-margin-top {
  margin-top: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-top {
    margin-top: 35px !important;
  }
}
.no-margin-left {
  margin-left: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-left-xs {
    margin-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-left-sm {
    margin-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-left-md {
    margin-left: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-left-lg {
    margin-left: 0 !important;
  }
}
.xxs-margin-left {
  margin-left: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-left {
    margin-left: 5px !important;
  }
}
.xs-margin-left {
  margin-left: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-left {
    margin-left: 10px !important;
  }
}
.s-margin-left {
  margin-left: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-left {
    margin-left: 15px !important;
  }
}
.m-margin-left {
  margin-left: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-left {
    margin-left: 20px !important;
  }
}
.l-margin-left {
  margin-left: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-left {
    margin-left: 25px !important;
  }
}
.xl-margin-left {
  margin-left: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-left {
    margin-left: 30px !important;
  }
}
.xxl-margin-left {
  margin-left: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-left {
    margin-left: 35px !important;
  }
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-bottom-xs {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-bottom-sm {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-bottom-md {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-bottom-lg {
    margin-bottom: 0 !important;
  }
}
.xxs-margin-bottom {
  margin-bottom: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-bottom {
    margin-bottom: 5px !important;
  }
}
.xs-margin-bottom {
  margin-bottom: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-bottom {
    margin-bottom: 10px !important;
  }
}
.s-margin-bottom {
  margin-bottom: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-bottom {
    margin-bottom: 15px !important;
  }
}
.m-margin-bottom {
  margin-bottom: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-bottom {
    margin-bottom: 20px !important;
  }
}
.l-margin-bottom {
  margin-bottom: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-bottom {
    margin-bottom: 25px !important;
  }
}
.xl-margin-bottom {
  margin-bottom: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-bottom {
    margin-bottom: 30px !important;
  }
}
.xxl-margin-bottom {
  margin-bottom: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-bottom {
    margin-bottom: 35px !important;
  }
}
.no-margin-right {
  margin-right: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-right-xs {
    margin-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-right-sm {
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-right-md {
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-right-lg {
    margin-right: 0 !important;
  }
}
.xxs-margin-right {
  margin-right: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-right {
    margin-right: 5px !important;
  }
}
.xs-margin-right {
  margin-right: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-right {
    margin-right: 10px !important;
  }
}
.s-margin-right {
  margin-right: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-right {
    margin-right: 15px !important;
  }
}
.m-margin-right {
  margin-right: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-right {
    margin-right: 20px !important;
  }
}
.l-margin-right {
  margin-right: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-right {
    margin-right: 25px !important;
  }
}
.xl-margin-right {
  margin-right: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-right {
    margin-right: 30px !important;
  }
}
.xxl-margin-right {
  margin-right: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-right {
    margin-right: 35px !important;
  }
}
.no-padding {
  padding: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-xs {
    padding: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-sm {
    padding: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-md {
    padding: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-lg {
    padding: 0 !important;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-top-xs {
    padding-top: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-top-sm {
    padding-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-top-md {
    padding-top: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-top-lg {
    padding-top: 0 !important;
  }
}
.xxs-padding-top {
  padding-top: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-top {
    padding-top: 5px !important;
  }
}
.xs-padding-top {
  padding-top: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-top {
    padding-top: 10px !important;
  }
}
.s-padding-top {
  padding-top: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-top {
    padding-top: 15px !important;
  }
}
.m-padding-top {
  padding-top: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-top {
    padding-top: 20px !important;
  }
}
.l-padding-top {
  padding-top: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-top {
    padding-top: 25px !important;
  }
}
.xl-padding-top {
  padding-top: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-top {
    padding-top: 30px !important;
  }
}
.xxl-padding-top {
  padding-top: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-top {
    padding-top: 35px !important;
  }
}
.no-padding-left {
  padding-left: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-left-xs {
    padding-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-left-sm {
    padding-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-left-md {
    padding-left: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-left-lg {
    padding-left: 0 !important;
  }
}
.xxs-padding-left {
  padding-left: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-left {
    padding-left: 5px !important;
  }
}
.xs-padding-left {
  padding-left: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-left {
    padding-left: 10px !important;
  }
}
.s-padding-left {
  padding-left: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-left {
    padding-left: 15px !important;
  }
}
.m-padding-left {
  padding-left: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-left {
    padding-left: 20px !important;
  }
}
.l-padding-left {
  padding-left: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-left {
    padding-left: 25px !important;
  }
}
.xl-padding-left {
  padding-left: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-left {
    padding-left: 30px !important;
  }
}
.xxl-padding-left {
  padding-left: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-left {
    padding-left: 35px !important;
  }
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-bottom-xs {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-bottom-sm {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-bottom-md {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-bottom-lg {
    padding-bottom: 0 !important;
  }
}
.xxs-padding-bottom {
  padding-bottom: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-bottom {
    padding-bottom: 5px !important;
  }
}
.xs-padding-bottom {
  padding-bottom: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-bottom {
    padding-bottom: 10px !important;
  }
}
.s-padding-bottom {
  padding-bottom: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-bottom {
    padding-bottom: 15px !important;
  }
}
.m-padding-bottom {
  padding-bottom: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-bottom {
    padding-bottom: 20px !important;
  }
}
.l-padding-bottom {
  padding-bottom: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-bottom {
    padding-bottom: 25px !important;
  }
}
.xl-padding-bottom {
  padding-bottom: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-bottom {
    padding-bottom: 30px !important;
  }
}
.xxl-padding-bottom {
  padding-bottom: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-bottom {
    padding-bottom: 35px !important;
  }
}
.no-padding-right {
  padding-right: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-right-xs {
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-right-sm {
    padding-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-right-md {
    padding-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-right-lg {
    padding-right: 0 !important;
  }
}
.xxs-padding-right {
  padding-right: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-right {
    padding-right: 5px !important;
  }
}
.xs-padding-right {
  padding-right: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-right {
    padding-right: 10px !important;
  }
}
.s-padding-right {
  padding-right: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-right {
    padding-right: 15px !important;
  }
}
.m-padding-right {
  padding-right: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-right {
    padding-right: 20px !important;
  }
}
.l-padding-right {
  padding-right: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-right {
    padding-right: 25px !important;
  }
}
.xl-padding-right {
  padding-right: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-right {
    padding-right: 30px !important;
  }
}
.xxl-padding-right {
  padding-right: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-right {
    padding-right: 35px !important;
  }
}
.xxs-line-height {
  line-height: 5px !important;
}
.line-height-xxs {
  line-height: 5px !important;
}
.xs-line-height {
  line-height: 10px !important;
}
.line-height-xs {
  line-height: 10px !important;
}
.s-line-height {
  line-height: 15px !important;
}
.line-height-s {
  line-height: 15px !important;
}
.m-line-height {
  line-height: 20px !important;
}
.line-height-m {
  line-height: 20px !important;
}
.l-line-height {
  line-height: 25px !important;
}
.line-height-l {
  line-height: 25px !important;
}
.xl-line-height {
  line-height: 30px !important;
}
.line-height-xl {
  line-height: 30px !important;
}
.xxl-line-height {
  line-height: 35px !important;
}
.line-height-xxl {
  line-height: 35px !important;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 480px) {
  .no-gutter-xs > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .no-gutter-sm > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .no-gutter-md > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .no-gutter-lg > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 480px) and (min-width: 480px) {
  .xs-center {
    text-align: center !important;
  }
}
@media (min-width: 480px) and (min-width: 480px) {
  .xs-right {
    text-align: right !important;
  }
}
@media (min-width: 480px) and (min-width: 480px) {
  .xs-left {
    text-align: left !important;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .sm-right {
    text-align: right !important;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .sm-left {
    text-align: left !important;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .md-right {
    text-align: right !important;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .md-left {
    text-align: left !important;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .lg-right {
    text-align: right !important;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .lg-left {
    text-align: left !important;
  }
}
@font-face {
  font-family: 'MainFont';
  src: url("/bitrix/fonts/GothamProRegular/GothamProRegular.otf");
  src: local(''), url("/bitrix/fonts/GothamProRegular/GothamProRegular.otf") format('truetype'), url("/bitrix/fonts/GothamProRegular/GothamProRegular.woff") format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'MainFont';
  src: url("/bitrix/fonts/GothamProBold/GothamProBold.ttf");
  src: local(''), url("/bitrix/fonts/GothamProBold/GothamProBold.ttf") format('truetype'), url("/bitrix/fonts/GothamProBold/GothamProBold.woff") format('woff');
  font-weight: bold;
}
body,
html {
  height: initial;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'MainFont', 'Helvetica Neue', Arial;
  background-color: #e7e7e7;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
.body {
  min-width: 0;
}
.teaser__background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.teaser__content {
  max-width: 940px;
  width: calc(100% - 40px);
  margin: 20px auto 40px;
}
@media (min-width: 768px) {
  .teaser__content {
    margin-top: -50px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
.teaser__description {
  padding: 20px;
  text-align: center;
  position: relative;
}
@media (min-width: 480px) {
  .teaser__description {
    padding: 40px 20px;
  }
}
@media (min-width: 768px) {
  .teaser__description {
    padding: 70px 20px;
  }
}
@media (min-width: 992px) {
  .teaser__description {
    padding: 40px 20px;
  }
}
.teaser__text {
  font-size: 12px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .teaser__text {
    font-size: 14px;
    line-height: 20px;
  }
}
.teaser__logo {
  margin-bottom: 20px;
  position: relative;
  z-index: 30;
}
.teaser__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 17px;
  margin-top: 0;
}
.teaser__image {
  left: -1px;
  top: -1px;
  height: 101%;
  width: 101%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 9px 9px 0 0;
  border-radius: 9px 9px 0 0;
  min-height: 200px;
}
@media (min-width: 480px) {
  .teaser__image {
    min-height: 343px;
    -webkit-border-radius: 9px 0 0 9px;
    border-radius: 9px 0 0 9px;
    position: absolute;
    width: 50%;
  }
}
.teaser__wrapper {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: #fff;
  background-color: #00061e;
  -webkit-box-shadow: 0 0 25px 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 25px 2px rgba(0,0,0,0.5);
}
@media (min-width: 480px) {
  .teaser__wrapper {
    padding-left: 50%;
  }
}
@media (min-width: 480px) {
  .teaser__description,
  .teaser__wrapper {
    min-height: 340px;
  }
}
@media (min-width: 768px) {
  .teaser__description,
  .teaser__wrapper {
    min-height: 427px;
  }
}
@media (min-width: 992px) {
  .teaser__description,
  .teaser__wrapper {
    min-height: 340px;
  }
}
.teaser .login--social {
  border: 1px solid #00d2f0;
  font-size: 10px;
  color: #00d2f0;
  padding: 8px 5px;
  width: 100%;
  max-width: 230px;
  margin: 25px auto 0;
}
@media (min-width: 480px) {
  .teaser .login--social {
    margin: 40px auto 0;
  }
}
@media (min-width: 768px) {
  .teaser .login--social {
    font-size: 12px;
    position: absolute;
    margin-left: -115px;
    left: 50%;
    bottom: 70px;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .teaser .login--social {
    bottom: 50px;
  }
}
.teaser .login--social .login__link {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 14px 7px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.teaser .login--social .login__link:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.teaser .login--social .login__link--fb img {
  min-height: 24px;
}
.teaser .login--social .login__link img {
  max-width: 27px;
}
